<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polarblereceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.example.polarblereceiver.MyPolarBleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="edu.ucsd.healthware.fw.device.ble.ACTION_GATT_CONNECTED" />
                <action android:name="edu.ucsd.healthware.fw.device.ble.ACTION_GATT_DISCONNECTED" />
                <action android:name="edu.ucsd.healthware.fw.device.ble.ACTION_GATT_SERVICES_DISCOVERED" />
                <action android:name="edu.ucsd.healthware.fw.device.ble.ACTION_DATA_AVAILABLE" />
                <action android:name="edu.ucsd.healthware.fw.device.ble.EXTRA_DATA" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
